@charset "UTF-8";
/*-------------------------*\
        頁首、頁尾樣式
\*-------------------------*/
/*-------------------------*\
    各頁面共用樣式設定
\*-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-image: url(../img/bgPattern_64px.png);
  background-repeat: repeat;
}

@media screen and (min-width: 1025px) {
  html, body {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  html, body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link, a:visited {
  color: initial;
}

.btn {
  display: block;
  background-color: rgba(240, 122, 181, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(153, 153, 153, 0.3);
          box-shadow: 0 0 10px rgba(153, 153, 153, 0.3);
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 50% / 20%;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: rgba(240, 122, 181, 0.8);
  color: #fdfdfd;
  font-weight: 700;
}

.btn:active {
  -webkit-filter: invert(5%);
          filter: invert(5%);
}

.logo img {
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

.logo img:hover {
  -webkit-filter: drop-shadow(0 5px 30px rgba(255, 240, 245, 0.9));
          filter: drop-shadow(0 5px 30px rgba(255, 240, 245, 0.9));
}

.title-1 {
  text-align: center;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 15px;
  text-indent: 15px;
}

@media screen and (max-width: 767px) {
  .title-1 {
    font-family: "Noto Serif TC", serif;
    font-weight: 900;
    font-size: 1.5rem;
  }
}

.title-2 {
  text-align: center;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .title-2 {
    font-family: "Noto Serif TC", serif;
    font-weight: 900;
    font-size: 1rem;
  }
}

.p-text {
  font-family: "Noto Serif TC", serif;
  font-weight: 300;
  font-size: 1rem;
}

.hr-1 {
  margin: 0.5rem auto 1rem;
  border-color: #6e0837;
}

@media screen and (min-width: 1025px) {
  .hr-1 {
    max-width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .hr-1 {
    max-width: 80%;
  }
}

.hr-2 {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.hr-2 > div {
  width: 15px;
  height: 5px;
  background-color: #f07ab5;
}

.hr-2 hr {
  width: 80%;
  margin: 0;
  border-color: #f07ab5;
}

.hr-3 {
  margin: 0.5rem auto 1rem;
  max-width: 25%;
  border-color: #f07ab5;
}

.clearfix::before, .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(29deg, #ffd9f2, #ffc779);
  z-index: 99;
}

#loading #heart {
  width: 160px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  margin: 0 auto;
  top: 15%;
  -webkit-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
  border-bottom-right-radius: 24px;
  -webkit-animation-name: floating-heart;
          animation-name: floating-heart;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#loading #heart::before, #loading #heart::after {
  content: "";
  width: 160px;
  height: 80px;
  position: absolute;
}

#loading #heart::before {
  border-radius: 0 0 80px 80px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: rgba(255, 255, 255, 0.3);
}

#loading #heart::after {
  top: -50%;
  border-radius: 80px 80px 0 0;
  background-color: rgba(255, 255, 255, 0.3);
}

#loading h1 {
  position: relative;
  color: #fdfdfd;
  text-align: center;
  line-height: 75vh;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 2rem;
}

@-webkit-keyframes floating-heart {
  from {
    -webkit-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
            animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  }
  60% {
    -webkit-transform: translateY(80%) rotate(45deg);
            transform: translateY(80%) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
            animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  }
  to {
    -webkit-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
}

@keyframes floating-heart {
  from {
    -webkit-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
            animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  }
  60% {
    -webkit-transform: translateY(80%) rotate(45deg);
            transform: translateY(80%) rotate(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
            animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  }
  to {
    -webkit-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
}

#tothetop {
  display: block;
  background-image: url(../icons/iconTothetop.png);
  background-color: #fbe9ec;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  z-index: 999;
}

#tothetop:hover {
  -webkit-box-shadow: 0 0 15px #fbe9ec;
          box-shadow: 0 0 15px #fbe9ec;
}

nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #6e0837;
  border-radius: 0 0 80% 80% / 0 0 55% 55%;
  -webkit-box-shadow: 0 0 3px rgba(153, 153, 153, 0.3);
          box-shadow: 0 0 3px rgba(153, 153, 153, 0.3);
}

@media screen and (min-width: 1025px) {
  nav {
    height: 80px;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    height: 60px;
  }
}

nav > a {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
}

@media screen and (min-width: 1025px) {
  nav > a {
    -webkit-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
  }
}

@media screen and (max-width: 1024px) {
  nav > a {
    -webkit-transform: translate(-50%, 3%);
            transform: translate(-50%, 3%);
  }
}

@media screen and (max-width: 767px) {
  nav > a {
    -webkit-transform: translate(-50%, 40%);
            transform: translate(-50%, 40%);
  }
}

nav #nav-toggle {
  top: 9.33333px;
  right: 25px;
  width: 32px;
  height: 32px;
  border-radius: 20%;
  /* 1 of 3 : 超橢圓設定 END */
  /* 3 of 3 : 動畫設定 END */
}

@media screen and (min-width: 1025px) {
  nav #nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  nav #nav-toggle {
    display: block;
  }
}

nav #nav-toggle, nav #nav-toggle::before, nav #nav-toggle::after {
  position: absolute;
  background-color: #fdfdfd;
}

nav #nav-toggle::before {
  content: "";
  border-radius: 2% / 50%;
  top: 17%;
  bottom: 17%;
  right: -1.5%;
  left: -1.5%;
  z-index: -1;
}

nav #nav-toggle::after {
  content: "";
  border-radius: 50% / 2%;
  top: -1.5%;
  bottom: -1.5%;
  right: 17%;
  left: 17%;
  z-index: -1;
}

nav #nav-toggle #nav-hbg {
  top: 14px;
  left: 4px;
  /* 2 of 3 : 三條線設定 END */
}

nav #nav-toggle #nav-hbg, nav #nav-toggle #nav-hbg::before, nav #nav-toggle #nav-hbg::after {
  height: 4px;
  width: 24px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1px;
  content: "";
}

nav #nav-toggle #nav-hbg::before {
  top: -8px;
}

nav #nav-toggle #nav-hbg::after {
  top: 8px;
}

nav #nav-toggle #nav-hbg, nav #nav-toggle #nav-hbg::before, nav #nav-toggle #nav-hbg::after {
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav #nav-toggle.active #nav-hbg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  background-color: transparent;
}

nav #nav-toggle.active #nav-hbg, nav #nav-toggle.active #nav-hbg::before, nav #nav-toggle.active #nav-hbg::after {
  -webkit-transition: 700ms;
  transition: 700ms;
}

nav #nav-toggle.active #nav-hbg::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

nav #nav-toggle.active #nav-hbg::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

nav #nav-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav #nav-link-wrap div:nth-of-type(2) {
  width: 128px;
}

nav #nav-link-wrap .nav-link {
  display: block;
  padding: 5px 1rem;
  border-radius: 30%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 2;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
}

@media screen and (min-width: 1025px) {
  nav #nav-link-wrap .nav-link {
    color: #fbe9ec;
  }
}

@media screen and (max-width: 1024px) {
  nav #nav-link-wrap .nav-link {
    color: #6e0837;
  }
}

@media screen and (min-width: 1025px) {
  nav #nav-link-wrap .nav-link:nth-child(4), nav #nav-link-wrap .nav-link:nth-child(6) {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  nav #nav-link-wrap .nav-link:nth-child(4n + 3) {
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }
  nav #nav-link-wrap .nav-link:nth-child(6n + 2) {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

nav #nav-link-wrap .nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  border: 3px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav #nav-link-wrap .nav-link:hover::after {
  width: 90%;
  border-color: #f098c4;
}

nav #nav-link-wrap .nav-link:active {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

@media screen and (max-width: 1024px) {
  nav #nav-link-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 45vw;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
    padding: 3rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    z-index: 3;
  }
  nav #nav-link-wrap a {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

footer {
  min-height: 100vh;
  margin-top: 50px;
  padding-top: 50px;
  background: #fbe9ec;
  -webkit-box-shadow: 0 0 3px rgba(153, 153, 153, 0.3);
          box-shadow: 0 0 3px rgba(153, 153, 153, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1025px) {
  footer div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer div:nth-child(2) #time-footer {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  footer div:nth-child(2) dl {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
}

@media screen and (min-width: 1025px) {
  footer > :not(:last-child) {
    margin: 0 15%;
  }
}

@media screen and (max-width: 1024px) {
  footer > :not(:last-child) {
    margin: 0 10%;
  }
}

@media screen and (max-width: 767px) {
  footer > :not(:last-child) {
    margin: 0 5%;
  }
}

footer #map {
  margin-bottom: 50px;
}

footer #map iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  footer #map iframe {
    height: 400px;
    max-width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  footer #map iframe {
    height: 300px;
    min-width: 80%;
  }
}

@media screen and (max-width: 767px) {
  footer #map iframe {
    height: 250px;
    min-width: 90%;
  }
}

footer #time-footer {
  background-color: rgba(255, 240, 245, 0.15);
  text-align: center;
}

footer #time-footer hr {
  max-width: 60%;
}

footer #time-footer table {
  margin: auto;
  width: 100%;
  height: 60%;
  border-collapse: collapse;
  border: 1px solid #000;
  background-color: rgba(240, 122, 181, 0.25);
  text-align: center;
}

footer #time-footer table tr:first-of-type {
  background-color: rgba(240, 122, 181, 0.6);
  border-bottom: 1px solid #000;
  line-height: 2rem;
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1rem;
}

footer #time-footer table tr:nth-child(n + 1) {
  padding: 2px 0;
}

footer #time-footer table tr > :first-child {
  background-color: rgba(240, 122, 181, 0.6);
  width: 3rem;
  border-right: 1px solid #000;
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1rem;
}

footer #time-footer table tr > :nth-child(n + 1) {
  padding: 0 3px;
}

footer #time-footer table tr span {
  font-size: 2rem;
}

footer #time-footer a {
  margin: 1rem auto;
  width: 6rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

footer dl {
  background-color: rgba(255, 240, 245, 0.15);
  line-height: 3rem;
  text-indent: 1.5rem;
}

@media screen and (min-width: 1025px) {
  footer dl {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1024px) {
  footer dl {
    margin-left: 0;
  }
}

footer dl img {
  vertical-align: middle;
  margin-right: 0.5rem;
}

footer dl dt {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1rem;
}

footer dl dt a {
  color: initial;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

footer dl dt a:hover {
  color: rgba(110, 8, 55, 0.8);
}

footer dl dd {
  font-family: "Noto Serif TC", serif;
  font-weight: 300;
  font-size: 0.8rem;
  background-color: rgba(255, 240, 245, 0.3);
}

@media screen and (max-width: 1024px) {
  footer dl dd {
    padding-left: 8rem;
    text-indent: -6.5rem;
  }
}

footer #friend-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 1025px) {
  footer #friend-link {
    margin: 50px 0;
  }
}

@media screen and (max-width: 1024px) {
  footer #friend-link {
    margin: 60px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  footer #friend-link {
    margin: 25px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer #friend-link a img {
  width: auto;
  height: auto;
  -webkit-filter: drop-shadow(-3px 3px 3px rgba(153, 153, 153, 0.3));
          filter: drop-shadow(-3px 3px 3px rgba(153, 153, 153, 0.3));
}

@media screen and (max-width: 1024px) {
  footer #friend-link a {
    margin-bottom: 10px;
  }
  footer #friend-link a img {
    width: 180px;
    height: auto;
  }
}

footer div:last-child {
  background-color: #6e0837;
}

footer div:last-child p {
  color: #f2f2f2;
  line-height: 3rem;
  text-align: center;
}
/*# sourceMappingURL=common.css.map */