@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: initial;
}

.logo img {
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

.logo img:hover {
  -webkit-filter: drop-shadow(0 5px 15px rgba(255, 240, 245, 0.8));
          filter: drop-shadow(0 5px 15px rgba(255, 240, 245, 0.8));
}

.title-1 {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
}

.title-2 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

.p-text {
  font-family: "Noto Serif TC", serif;
  font-weight: 300;
  font-size: 1em;
}

.hr-1 {
  margin: 0.5em auto 1em;
  border-color: indigo;
  max-width: 80%;
}

.hr-2 {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.hr-2 > div {
  width: 15px;
  height: 5px;
  background-color: HotPink;
}

.hr-2 hr {
  width: 80%;
  margin: 0;
  border-color: HotPink;
}

.hr-3 {
  margin: 0.5em auto 1em;
  max-width: 25%;
  border-color: HotPink;
}

nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: pink;
  border-radius: 0 0 80% 80% / 0 0 55% 55%;
  -webkit-box-shadow: 0 0 3px rgba(128, 128, 128, 0.3);
          box-shadow: 0 0 3px rgba(128, 128, 128, 0.3);
  z-index: 2;
}

nav > a:nth-child(4),
nav > a:nth-child(6) {
  margin-top: 32px;
}

nav > a:nth-child(4n + 3) {
  margin-top: 30px;
}

nav > a:nth-child(6n + 2) {
  margin-top: 25px;
}

nav .nav-a {
  line-height: 1.2;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 1.5em;
}

nav .nav-a:link, nav .nav-a:visited {
  color: Brown;
}

nav .nav-a:hover {
  text-shadow: 0 0 30px LavenderBlush;
}

nav .nav-a:active {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

footer {
  background-color: pink;
  -webkit-box-shadow: 0 0 3px rgba(128, 128, 128, 0.3);
          box-shadow: 0 0 3px rgba(128, 128, 128, 0.3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% auto;
      grid-template-columns: 65% auto;
  grid-gap: 30px;
  padding: 50px 20px 20px;
}

footer div:first-child iframe {
  width: 100%;
  height: 300px;
}

footer #time-footer {
  background-color: rgba(255, 240, 245, 0.15);
  text-align: center;
}

footer #time-footer hr {
  max-width: 60%;
}

footer #time-footer table {
  margin: auto;
  width: 80%;
  height: 60%;
  border-collapse: collapse;
  border: 1px solid #000;
  background-color: rgba(255, 105, 180, 0.25);
  text-align: center;
}

footer #time-footer table tr:first-of-type {
  background-color: rgba(255, 105, 180, 0.6);
  border-bottom: 1px solid #000;
  line-height: 2em;
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1em;
}

footer #time-footer table tr:nth-child(n + 1) {
  padding: 2px 0;
}

footer #time-footer table tr > :first-child {
  background-color: rgba(255, 105, 180, 0.6);
  width: 3em;
  border-right: 1px solid #000;
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1em;
}

footer #time-footer table tr > :nth-child(n + 1) {
  padding: 0 3px;
}

footer #time-footer table tr span {
  font-size: 2em;
}

footer #time-footer a {
  display: block;
  margin: 1em auto;
  background-color: rgba(255, 105, 180, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
          box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
  width: 6em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50% / 20%;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

footer #time-footer a:hover {
  background-color: rgba(255, 105, 180, 0.8);
}

footer #time-footer a:active {
  -webkit-filter: invert(5%);
          filter: invert(5%);
}

footer dl {
  background-color: rgba(255, 240, 245, 0.15);
  line-height: 3em;
}

footer dl img {
  vertical-align: middle;
  margin-right: 0.5em;
}

footer dl dt > a {
  color: initial;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

footer dl dt > a:hover {
  color: rgba(165, 42, 42, 0.8);
}

footer dl dd {
  text-indent: -2.5em;
  margin-left: 4em;
}

footer div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div:last-child a {
  margin-bottom: 1em;
  width: 45%;
}

footer div:last-child a img {
  width: 100%;
}
/*# sourceMappingURL=common.css.map */