@charset "UTF-8";
/*-------------------------*\
        頁首、頁尾樣式
\*-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;500;700;900&display=swap");
/*-------------------------*\
RWD的變數改變不採取更改變數值的方案，因為不可行
//採用在個樣式設定取用不同不同的變數
//也就說是說還是要寫兩次。
\*-------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: snow;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link, a:visited {
  color: initial;
}

.btn {
  display: block;
  background-color: rgba(240, 122, 181, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(153, 153, 153, 0.3);
          box-shadow: 0 0 10px rgba(153, 153, 153, 0.3);
  border-radius: 50% / 20%;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: rgba(240, 122, 181, 0.8);
}

.btn:active {
  -webkit-filter: invert(5%);
          filter: invert(5%);
}

.logo img {
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

.logo img:hover {
  -webkit-filter: drop-shadow(0 5px 30px rgba(240, 122, 181, 0.5));
          filter: drop-shadow(0 5px 30px rgba(240, 122, 181, 0.5));
}

.title-1 {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  letter-spacing: 15px;
  text-indent: 15px;
}

@media screen and (max-width: 767px) {
  .title-1 {
    font-family: "Noto Serif TC", serif;
    font-weight: 900;
    font-size: 1.5em;
  }
}

.title-2 {
  text-align: center;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 1.2em;
}

@media screen and (max-width: 767px) {
  .title-2 {
    font-family: "Noto Serif TC", serif;
    font-weight: 900;
    font-size: 1em;
  }
}

.p-text {
  font-family: "Noto Serif TC", serif;
  font-weight: 300;
  font-size: 1em;
}

.hr-1 {
  margin: 0.5em auto 1em;
  border-color: indigo;
}

@media screen and (min-width: 1025px) {
  .hr-1 {
    max-width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .hr-1 {
    max-width: 80%;
  }
}

.hr-2 {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.hr-2 > div {
  width: 15px;
  height: 5px;
  background-color: #f07ab5;
}

.hr-2 hr {
  width: 80%;
  margin: 0;
  border-color: #f07ab5;
}

.hr-3 {
  margin: 0.5em auto 1em;
  max-width: 25%;
  border-color: #f07ab5;
}

nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  border-radius: 0 0 80% 80% / 0 0 55% 55%;
  -webkit-box-shadow: 0 0 3px rgba(153, 153, 153, 0.3);
          box-shadow: 0 0 3px rgba(153, 153, 153, 0.3);
}

@media screen and (min-width: 1025px) {
  nav {
    height: 80px;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    height: 60px;
  }
}

nav > a {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 5%);
          transform: translate(-50%, 5%);
}

nav #nav-hbger {
  background-image: url(../img/iconHBG.png);
  position: absolute;
  top: 7px;
  right: 25px;
  height: 32px;
  width: 32px;
  border-radius: 20%;
  -webkit-box-shadow: 2px 2px 3px rgba(153, 153, 153, 0.3);
          box-shadow: 2px 2px 3px rgba(153, 153, 153, 0.3);
}

@media screen and (min-width: 1025px) {
  nav #nav-hbger {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  nav #nav-hbger {
    display: block;
  }
}

nav #nav-hbger:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav #nav-hbger:active {
  -webkit-filter: invert(30%);
          filter: invert(30%);
}

nav #nav-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav #nav-link-wrap div:nth-of-type(2) {
  width: 128px;
}

nav #nav-link-wrap a {
  display: block;
  line-height: 2;
  padding: 5px 1em;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 30%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav #nav-link-wrap a:nth-child(4), nav #nav-link-wrap a:nth-child(6) {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

nav #nav-link-wrap a:nth-child(4n + 3) {
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
}

nav #nav-link-wrap a:nth-child(6n + 2) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

nav #nav-link-wrap a:link, nav #nav-link-wrap a:visited {
  color: #000;
}

nav #nav-link-wrap a:hover {
  -webkit-box-shadow: 0 0 10px 10px rgba(240, 122, 181, 0.3) inset;
          box-shadow: 0 0 10px 10px rgba(240, 122, 181, 0.3) inset;
}

nav #nav-link-wrap a:active {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

@media screen and (max-width: 1024px) {
  nav #nav-link-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
    padding: 3em 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    z-index: 2;
  }
  nav #nav-link-wrap a {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 3;
  }
}

footer {
  min-height: 100vh;
  padding: 50px 20px 20px;
  margin-top: 50px;
  background-color: #fbe9ec;
  -webkit-box-shadow: 0 0 3px rgba(153, 153, 153, 0.3);
          box-shadow: 0 0 3px rgba(153, 153, 153, 0.3);
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1025px) {
  footer {
    -ms-grid-columns: 65% auto;
        grid-template-columns: 65% auto;
    grid-gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
    grid-gap: 15px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 15px;
  }
}

footer div:first-child iframe {
  width: 100%;
  height: 300px;
}

footer #time-footer {
  background-color: rgba(255, 240, 245, 0.15);
  text-align: center;
}

footer #time-footer hr {
  max-width: 60%;
}

footer #time-footer table {
  margin: auto;
  width: 80%;
  height: 60%;
  border-collapse: collapse;
  border: 1px solid #000;
  background-color: rgba(240, 122, 181, 0.25);
  text-align: center;
}

footer #time-footer table tr:first-of-type {
  background-color: rgba(240, 122, 181, 0.6);
  border-bottom: 1px solid #000;
  line-height: 2em;
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1em;
}

footer #time-footer table tr:nth-child(n + 1) {
  padding: 2px 0;
}

footer #time-footer table tr > :first-child {
  background-color: rgba(240, 122, 181, 0.6);
  width: 3em;
  border-right: 1px solid #000;
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1em;
}

footer #time-footer table tr > :nth-child(n + 1) {
  padding: 0 3px;
}

footer #time-footer table tr span {
  font-size: 2em;
}

footer #time-footer a {
  margin: 1em auto;
  width: 6em;
  height: 2.5em;
  line-height: 2.5em;
}

footer dl {
  background-color: rgba(255, 240, 245, 0.15);
  line-height: 3em;
}

footer dl img {
  vertical-align: middle;
  margin-right: 0.5em;
}

footer dl dt {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1em;
}

footer dl dt a {
  color: initial;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

footer dl dt a:hover {
  color: rgba(165, 42, 42, 0.8);
}

footer dl dd {
  font-family: "Noto Serif TC", serif;
  font-weight: 300;
  font-size: 0.8em;
  background-color: rgba(255, 240, 245, 0.3);
  text-indent: 2.5em;
}

footer div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div:last-child a {
  margin-bottom: 1em;
  width: 45%;
}

footer div:last-child a img {
  width: 100%;
}
/*# sourceMappingURL=common.css.map */