@charset "UTF-8";
/*-------------------------*\
    「首頁」專屬元素樣式
\*-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;500;700;900&display=swap");
/*-------------------------*\
RWD的變數改變不採取更改變數值的方案，因為不可行
//採用在個樣式設定取用不同不同的變數
//也就說是說還是要寫兩次。
\*-------------------------*/
#opening {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  #opening {
    margin-top: -80px;
  }
}

@media screen and (max-width: 1024px) {
  #opening {
    margin-top: -60px;
  }
}

#opening #home {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  -webkit-filter: contrast(0.65) brightness(1.2) saturate(1.3);
          filter: contrast(0.65) brightness(1.2) saturate(1.3);
}

@media screen and (min-width: 1025px) {
  #opening #home {
    background-image: url("../img/FrontImg_desktop.jpg");
  }
}

@media screen and (max-width: 1024px) {
  #opening #home {
    background-image: url("../img/FrontImg_tablet.png");
  }
}

#opening #home #intro-disk {
  position: absolute;
  width: 22em;
  height: 4em;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 40px 10px LavenderBlush inset;
          box-shadow: 0 0 40px 10px LavenderBlush inset;
}

@media screen and (min-width: 1025px) {
  #opening #home #intro-disk {
    top: 34vh;
    left: 40vw;
  }
}

@media screen and (max-width: 1024px) {
  #opening #home #intro-disk {
    top: 25vh;
    left: 52%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 767px) {
  #opening #home #intro-disk {
    width: 15em;
    height: 3em;
    top: 21vh;
    left: 52%;
    -webkit-box-shadow: 0 0 20px 10px LavenderBlush inset;
            box-shadow: 0 0 20px 10px LavenderBlush inset;
  }
}

#opening #home h1 {
  position: absolute;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  font-size: 5em;
  color: #ff61b0;
}

@media screen and (min-width: 1025px) {
  #opening #home h1 {
    top: 26vh;
    left: 41vw;
    text-shadow: 1px -1px 0 LavenderBlush, 2px -2px 0 #e1cdd5, 3px -3px 0 #d1bdc5, 4px -4px 0 #c1adb5, 5px -5px 0 #b19da5;
  }
}

@media screen and (max-width: 1024px) {
  #opening #home h1 {
    top: 18vh;
    left: 52%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-shadow: -1px -1px 0 LavenderBlush, -2px -2px 0 #e1cdd5, -3px -3px 0 #d1bdc5, -4px -4px 0 #c1adb5, -5px -5px 0 #b19da5;
  }
}

@media screen and (max-width: 767px) {
  #opening #home h1 {
    top: 17vh;
    font-family: "Noto Serif TC", serif;
    font-weight: 900;
    font-size: 3em;
    word-break: keep-all;
  }
}

#opening #home h2 {
  display: block;
  position: absolute;
  padding: 1em 0;
  padding-left: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.75);
          box-shadow: 0 0 5px 7px rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 2em;
  color: #732626;
  letter-spacing: 5px;
}

@media screen and (min-width: 1025px) {
  #opening #home h2 {
    top: 46vh;
    right: 0;
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    padding-left: 3vw;
    padding-right: 15vw;
    text-shadow: 3px -3px 3px #fff;
  }
}

@media screen and (max-width: 1024px) {
  #opening #home h2 {
    width: calc(100%);
    top: 44vh;
    left: 50%;
    -webkit-transform: translateX(calc(-50%));
            transform: translateX(calc(-50%));
    text-shadow: -3px -3px 3px #fff;
  }
}

@media screen and (max-width: 767px) {
  #opening #home h2 {
    top: 36vh;
    text-shadow: -3px -3px 3px #fff;
    padding: 0.5em 0;
    font-size: 1.5em;
  }
}

#opening #intro {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #fffafaaa), color-stop(80%, rgba(255, 148, 198, 0.45)), color-stop(85%, rgba(255, 148, 198, 0.45)), to(#fffafaaa));
  background-image: linear-gradient(180deg, #fffafaaa 10%, rgba(255, 148, 198, 0.45) 80%, rgba(255, 148, 198, 0.45) 85%, #fffafaaa);
}

@media screen and (max-width: 767px) {
  #opening #intro {
    height: auto;
  }
}

#opening #intro > div {
  margin: 0 auto;
  padding: 2.5em 2em 5em;
  background-color: #fdfdfd;
  -webkit-box-shadow: 5px 5px 20px rgba(153, 153, 153, 0.3);
          box-shadow: 5px 5px 20px rgba(153, 153, 153, 0.3);
  border-radius: 5%;
}

@media screen and (min-width: 1025px) {
  #opening #intro > div {
    width: 40%;
    margin-top: 5%;
  }
}

@media screen and (max-width: 1024px) {
  #opening #intro > div {
    width: 70%;
    margin-top: 8%;
  }
}

@media screen and (max-width: 767px) {
  #opening #intro > div {
    width: 90%;
    margin-top: 10%;
    padding: 1em 1em 5em;
  }
}

#opening #intro > div p {
  line-height: 2.5;
  text-indent: 2em;
}

#opening #intro > div p span {
  color: #6e0837;
  font-weight: 700;
  background-color: rgba(255, 240, 245, 0.3);
}

#opening #intro > div ul {
  line-height: 2.5;
  list-style-type: none;
  text-indent: 4em;
}

@media screen and (max-width: 767px) {
  #opening #intro > div ul {
    text-indent: 2em;
  }
}

#opening #intro > div ul u {
  font-weight: 700;
}

#opening #intro > div ul span {
  color: #6e0837;
  font-weight: 700;
  background-color: rgba(255, 240, 245, 0.3);
}

#team {
  border: 5px solid goldenrod;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  #team {
    height: calc(80px + calc(540px - 2 * 1em));
    margin: 150px 5px 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (4fr 7fr)[1];
        grid-template-columns: repeat(1, 4fr 7fr);
    -ms-grid-rows: (1fr 4fr)[1];
        grid-template-rows: repeat(1, 1fr 4fr);
    grid-gap: 30px;
  }
  #team header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 1024px) {
  #team {
    margin: 100px 5px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team #team-btn-box {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

#team #team-btn-box {
  -webkit-box-shadow: -8px 8px 8px -3px rgba(153, 153, 153, 0.3);
          box-shadow: -8px 8px 8px -3px rgba(153, 153, 153, 0.3);
}

@media screen and (min-width: 1025px) {
  #team #team-btn-box {
    width: calc($leng-real - 2 * $box-pd - 2 * $box-pd - 2 * $gap);
    height: calc($leng-real - 2 * $box-pd - 2 * $box-pd - 2 * $gap);
    border: 10px solid #ddd;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
  }
  #team #team-btn-box h2 {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1024px) {
  #team #team-btn-box {
    width: calc($leng-real - 2 * $box-pd - 2 * $box-pd - 2 * $gap);
    height: calc($leng-real - 2 * $box-pd - 2 * $box-pd - 2 * $gap);
    border: 10px solid #ddd;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }
  #team #team-btn-box h2 {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 767px) {
  #team #team-btn-box {
    width: calc($leng-real - 2 * $box-pd - 2 * $box-pd - 2 * $gap);
    height: calc($leng-real - 2 * $box-pd - 2 * $box-pd - 2 * $gap);
    border: 5px solid #ddd;
    padding: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
  }
  #team #team-btn-box h2 {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 0.8em;
  }
}

#team #team-btn-box .team-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: default;
}

#team #team-btn-box .team-btn {
  background-color: rgba(153, 153, 153, 0.3);
}

#team #team-btn-box .team-btn-active:nth-child(-n + 2) {
  background-color: #f8c9a0;
}

#team #team-btn-box .team-btn-active:nth-child(4), #team #team-btn-box .team-btn-active:nth-child(5) {
  background-color: LavenderBlush;
}

#team #team-btn-box .team-btn-active:nth-child(-3n + 6) {
  background-color: HoneyDew;
}

#team #team-btn-box .team-btn-active:nth-child(n + 7) {
  background-color: AliceBlue;
}

#team #team-btn-box .team-btn:not(.team-btn-active):hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

#team #team-btn-box .team-btn:active {
  -webkit-filter: invert(0.2);
          filter: invert(0.2);
}

#team #team-card-wrap {
  background-color: rgba(221, 221, 221, 0.3);
  -webkit-box-shadow: -8px 8px 8px -3px rgba(153, 153, 153, 0.3);
          box-shadow: -8px 8px 8px -3px rgba(153, 153, 153, 0.3);
  height: calc(540px - 2 * 1em);
}

@media screen and (min-width: 1025px) {
  #team #team-card-wrap .team-card {
    height: 100%;
    padding: 3em;
  }
}

@media screen and (max-width: 1024px) {
  #team #team-card-wrap .team-card {
    height: 350px;
    padding: 3em;
  }
}

@media screen and (max-width: 767px) {
  #team #team-card-wrap .team-card {
    height: auto;
    width: 100%;
    padding: 1em 1.5em;
  }
}

@media screen and (min-width: 1025px) {
  #team #team-card-wrap .team-card {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "photos showcases" "names showcases";
    -ms-grid-columns: (1fr 3fr)[1];
        grid-template-columns: repeat(1, 1fr 3fr);
    -ms-grid-rows: (3fr 1fr)[1];
        grid-template-rows: repeat(1, 3fr 1fr);
    grid-gap: 1em;
  }
  #team #team-card-wrap .team-card > img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: photos;
  }
  #team #team-card-wrap .team-card > h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: names;
  }
  #team #team-card-wrap .team-card > .team-about {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: showcases;
  }
}

@media screen and (max-width: 1024px) {
  #team #team-card-wrap .team-card {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "photos showcases" "names showcases";
    -ms-grid-columns: (1fr 3fr)[1];
        grid-template-columns: repeat(1, 1fr 3fr);
    -ms-grid-rows: (3fr 2fr)[1];
        grid-template-rows: repeat(1, 3fr 2fr);
    grid-gap: 1em;
  }
  #team #team-card-wrap .team-card > img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: photos;
  }
  #team #team-card-wrap .team-card > h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: names;
  }
  #team #team-card-wrap .team-card > .team-about {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: showcases;
  }
}

@media screen and (max-width: 767px) {
  #team #team-card-wrap .team-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team #team-card-wrap .team-card > img {
    height: 20vh;
  }
  #team #team-card-wrap .team-card h2 {
    margin: 0.5em 0 1em;
  }
}

#team #team-card-wrap .team-card > img {
  width: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

#team #team-card-wrap .team-card > div:nth-child(2) {
  text-align: center;
}

#team #team-card-wrap .team-card > div:nth-child(2) h2 {
  padding: 0 0.5em;
  display: inline-block;
  border-bottom: 1px solid indigo;
  -webkit-box-shadow: 0 9px 5px -6px #55555555;
          box-shadow: 0 9px 5px -6px #55555555;
}

#team #team-card-wrap .team-card .team-about {
  padding: 0 5%;
  overflow: auto;
  background-color: #fdfdfd;
  -webkit-box-shadow: 10px 0 10px -10px inset rgba(153, 153, 153, 0.3);
          box-shadow: 10px 0 10px -10px inset rgba(153, 153, 153, 0.3);
}

@media screen and (max-width: 767px) {
  #team #team-card-wrap .team-card .team-about {
    height: 50vh;
    min-width: 90%;
  }
}

#team #team-card-wrap .team-card .team-about .team-sub-card {
  padding: 1em 0;
}

#team #team-card-wrap .team-card .team-about .team-sub-card h3 {
  text-indent: 2em;
  margin-bottom: -0.3em;
}

#team #team-card-wrap .team-card .team-about .team-sub-card ul {
  list-style-type: none;
}

#team #team-card-wrap .team-card .team-about .team-sub-card p,
#team #team-card-wrap .team-card .team-about .team-sub-card li {
  line-height: 2.5;
}

#care {
  margin: 200px 5px 0;
}

#care .care-card-boards {
  background-color: #fdfdfd;
  -webkit-box-shadow: 5px 5px 7px 2px rgba(153, 153, 153, 0.3);
          box-shadow: 5px 5px 7px 2px rgba(153, 153, 153, 0.3);
}

@media screen and (min-width: 1025px) {
  #care .care-card-boards {
    max-width: 75vw;
  }
}

#care .care-card-boards .care-card > img {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 128px;
}

#care #care-board-1 {
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1025px) {
  #care #care-board-1 {
    max-width: 800px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
  }
}

@media screen and (max-width: 1024px) {
  #care #care-board-1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  #care #care-board-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#care #care-board-2 {
  margin: 60px auto;
}

@media screen and (min-width: 1025px) {
  #care #care-board-2 {
    height: calc(2 * 60px + 2 * 15px + 140px + 3rem);
  }
}

@media screen and (max-width: 767px) {
  #care #care-board-2 {
    height: calc(2 * 60px + 2 * 15px + 125px + 3rem);
  }
}

#care #care-board-2 .care-card {
  margin: 60px 20px;
  width: 140px;
  text-align: center;
  overflow: break-word;
}

@media screen and (min-width: 1025px) {
  #care #care-board-2 .care-card {
    height: calc(2 * 15px + 140px + 3rem);
    max-width: 180px;
  }
}

@media screen and (max-width: 767px) {
  #care #care-board-2 .care-card {
    height: calc(2 * 15px + 125px + 3rem);
    max-width: 165px;
  }
}

#care #care-board-2 .care-card > div {
  background-image: url(../img/cloudy0.png);
  margin: 15px auto;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  border-radius: 50%;
  text-align: center;
}

#care #care-board-2 .care-card:hover {
  border-radius: 35px;
  -webkit-box-shadow: 0 2px 8px #55555555;
          box-shadow: 0 2px 8px #55555555;
}

#care #care-board-2 .care-card:hover > div {
  background-image: url(../img/cloudy1.png);
}

#care #care-board-2 .care-card > h2 {
  text-align: center;
  line-height: 3rem;
}

#care #care-board-2 .slick-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#care #care-board-2 .slick-current {
  border-radius: 35px;
  -webkit-box-shadow: 0 2px 8px #55555555;
          box-shadow: 0 2px 8px #55555555;
}

#care #care-board-2 .slick-current > div {
  background-image: url(../img/cloudy1.png);
}

@media screen and (min-width: 1025px) {
  #care #care-board-2 .slick-current > div {
    height: 140px;
    width: 140px;
    background-size: 140px 140px;
  }
}

@media screen and (max-width: 767px) {
  #care #care-board-2 .slick-current > div {
    height: 125px;
    width: 125px;
    background-size: 125px 125px;
  }
}

#care #care-board-2 .slick-current h2 {
  font-size: 1.5rem;
}

#care #care-board-3 {
  overflow: hidden;
  margin: 50px auto;
  padding: 50px;
}

@media screen and (min-width: 1025px) {
  #care #care-board-3 {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  #care #care-board-3 {
    width: 80%;
  }
}

#care #care-board-3 h3 {
  display: block;
  margin-top: 20px;
}

#care #care-board-3 .slick-arrow::before {
  position: absolute;
  color: #990000;
  top: -2px;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  #care #care-board-3 .slick-arrow::before {
    font-size: xx-large;
  }
}

@media screen and (min-width: 1025px) {
  #care #care-board-3 .slick-prev::before {
    left: 40px;
  }
  #care #care-board-3 .slick-next::before {
    right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  #care #care-board-3 .slick-prev::before {
    left: 65px;
  }
  #care #care-board-3 .slick-next::before {
    right: 65px;
  }
}

#time #time-table {
  margin: 80px auto 30px;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  #time #time-table {
    width: 710px;
    height: 380px;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 50px (1fr)[6];
        grid-template-columns: 50px repeat(6, 1fr);
  }
  #time #time-table > div:nth-child(n + 2) {
    border: 1px solid #55555555;
    -webkit-box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.3);
            box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.3);
    overflow: hidden;
  }
  #time #time-table > div:first-child {
    width: 48px;
    height: 48px;
  }
  #time #time-table > div:nth-child(-n + 7):not(:first-child) {
    width: 98px;
    height: 48px;
    line-height: 48px;
    background-color: #ffffff88;
  }
  #time #time-table > div:nth-child(7n + 8) {
    width: 48px;
    height: 98px;
    background-color: #ffffff88;
  }
  #time #time-table > div:nth-child(n + 8):not(:nth-child(7n + 8)) {
    width: 98px;
    height: 98px;
  }
  #time #time-table .tt-1col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #time #time-table .tt-2col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #time #time-table .tt-3col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #time #time-table > div:nth-last-child(2) > .tt-closed {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
}

@media screen and (max-width: 1024px) {
  #time #time-table {
    width: 568px;
    height: 304px;
    display: -ms-grid;
    display: grid;
    grid-gap: 8px;
    -ms-grid-columns: 40px (1fr)[6];
        grid-template-columns: 40px repeat(6, 1fr);
  }
  #time #time-table > div:nth-child(n + 2) {
    border: 1px solid #55555555;
    -webkit-box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.3);
            box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.3);
    overflow: hidden;
  }
  #time #time-table > div:first-child {
    width: 38px;
    height: 38px;
  }
  #time #time-table > div:nth-child(-n + 7):not(:first-child) {
    width: 78px;
    height: 38px;
    line-height: 38px;
    background-color: #ffffff88;
  }
  #time #time-table > div:nth-child(7n + 8) {
    width: 38px;
    height: 78px;
    background-color: #ffffff88;
  }
  #time #time-table > div:nth-child(n + 8):not(:nth-child(7n + 8)) {
    width: 78px;
    height: 78px;
  }
  #time #time-table .tt-1col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #time #time-table .tt-2col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #time #time-table .tt-3col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #time #time-table > div:nth-last-child(2) > .tt-closed {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
}

@media screen and (max-width: 767px) {
  #time #time-table {
    width: 361px;
    height: 193px;
    display: -ms-grid;
    display: grid;
    grid-gap: 6px;
    -ms-grid-columns: 25px (1fr)[6];
        grid-template-columns: 25px repeat(6, 1fr);
  }
  #time #time-table > div:nth-child(n + 2) {
    border: 1px solid #55555555;
    -webkit-box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.3);
            box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.3);
    overflow: hidden;
  }
  #time #time-table > div:first-child {
    width: 23px;
    height: 23px;
  }
  #time #time-table > div:nth-child(-n + 7):not(:first-child) {
    width: 48px;
    height: 23px;
    line-height: 23px;
    background-color: #ffffff88;
  }
  #time #time-table > div:nth-child(7n + 8) {
    width: 23px;
    height: 48px;
    background-color: #ffffff88;
  }
  #time #time-table > div:nth-child(n + 8):not(:nth-child(7n + 8)) {
    width: 48px;
    height: 48px;
  }
  #time #time-table .tt-1col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #time #time-table .tt-2col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #time #time-table .tt-3col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #time #time-table > div:nth-last-child(2) > .tt-closed {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
}

#time #time-table .tt-shorter {
  -ms-grid-rows: (3fr 1fr)[1];
      grid-template-rows: repeat(1, 3fr 1fr);
}

#time #time-table .tt-shorter .tt-closed {
  -webkit-box-shadow: 3px 6px 6px -3px rgba(153, 153, 153, 0.3) inset;
          box-shadow: 3px 6px 6px -3px rgba(153, 153, 153, 0.3) inset;
}

@media screen and (min-width: 1025px) {
  #time #time-table > div:nth-child(-n + 7):not(:first-child) {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1em;
  }
  #time #time-table > div:nth-child(7n + 8) {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 1em;
  }
  #time #time-table .tt-closed {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 1em;
  }
}

@media screen and (max-width: 1024px) {
  #time #time-table > div:nth-child(-n + 7):not(:first-child) {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 0.8em;
  }
  #time #time-table > div:nth-child(7n + 8) {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 0.8em;
  }
  #time #time-table .tt-closed {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  #time #time-table > div:nth-child(-n + 7):not(:first-child) {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 0.8em;
  }
  #time #time-table > div:nth-child(7n + 8) {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 10px;
  }
  #time #time-table .tt-closed {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 0.8em;
  }
}

#time #time-table .tt-children {
  background-color: #fafad1;
}

#time #time-table .tt-adult {
  background-color: #d1eefa;
}

#time #time-table .tt-nature {
  background-color: #fccfd6;
}

#time #time-table .tt-closed {
  background-color: #e6e6e6;
  color: crimson;
}

#time #time-table .tt-deactivate {
  background-color: #cccccc !important;
}

#time #table-eg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#time #table-eg .table-eg-btns {
  border-radius: 50%;
  -webkit-box-shadow: 8px 8px 8px rgba(153, 153, 153, 0.3);
          box-shadow: 8px 8px 8px rgba(153, 153, 153, 0.3);
  height: 80px;
  width: 80px;
  cursor: default;
}

#time #table-eg .table-eg-btns h4 {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 80px;
  text-align: center;
  text-shadow: 8px 8px 8px rgba(153, 153, 153, 0.3);
}

@media screen and (max-width: 767px) {
  #time #table-eg .table-eg-btns {
    height: 65px;
    width: 65px;
  }
  #time #table-eg .table-eg-btns h4 {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 65px;
  }
}

#time #table-eg .table-eg-btns:nth-child(1) {
  background-color: #fafad1;
}

#time #table-eg .table-eg-btns:nth-child(2) {
  background-color: #d1eefa;
}

#time #table-eg .table-eg-btns:nth-child(3) {
  background-color: #fccfd6;
}

#time #table-eg .table-eg-btns:nth-child(4) {
  background-color: #e6e6e6;
}

#time > :last-child {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1025px) {
  #time > :last-child {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #time > :last-child > div {
    width: 30%;
    border: 1px solid #f07ab5;
    background-color: rgba(255, 240, 245, 0.5);
    margin: 30px 0 0;
  }
}

@media screen and (max-width: 767px) {
  #time > :last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1025px) {
  #time #register-note {
    width: 50%;
  }
}

#time #register-note .note-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#time #register-note .note-btn-box .note-btns {
  display: block;
  margin-right: 10px;
  padding: 1em 2em 0.5em;
  background-color: rgba(240, 122, 181, 0.1);
  border-radius: 10% 10% 0 0/ 20% 20% 0 0;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

#time #register-note .note-btn-box .note-btns:not(.note-btns-active):hover {
  -webkit-filter: saturate(2);
          filter: saturate(2);
}

#time #register-note .note-btn-box .note-btns-active {
  background-color: rgba(240, 122, 181, 0.3);
}

@media screen and (min-width: 1025px) {
  #time #register-note .note-btn-box .note-btns {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1em;
  }
}

@media screen and (max-width: 1024px) {
  #time #register-note .note-btn-box .note-btns {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 767px) {
  #time #register-note .note-btn-box .note-btns {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 0.5em;
  }
}

#time #register-note > :last-child {
  padding: 2em 4em;
  background-color: rgba(255, 240, 245, 0.8);
}

#time #register-note > :last-child .note-pages {
  line-height: 2;
}

@media screen and (min-width: 1025px) {
  #time #register-note > :last-child .note-pages h4 {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 1.5em;
  }
  #time #register-note > :last-child .note-pages ul {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 1.2em;
    margin-left: 2.4em;
  }
  #time #register-note > :last-child .note-pages ul::before {
    content: attr(aria-label);
    text-indent: -2.4em;
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1024px) {
  #time #register-note > :last-child .note-pages h4 {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 1.2em;
  }
  #time #register-note > :last-child .note-pages ul {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 1em;
    margin-left: 2em;
  }
  #time #register-note > :last-child .note-pages ul::before {
    content: attr(aria-label);
    text-indent: -2em;
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  #time #register-note > :last-child .note-pages h4 {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 1em;
  }
  #time #register-note > :last-child .note-pages ul {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 0.8em;
    margin-left: 1.6em;
  }
  #time #register-note > :last-child .note-pages ul::before {
    content: attr(aria-label);
    text-indent: -1.6em;
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 0.8em;
  }
}

#time #register-note > :last-child a {
  margin: 0 auto;
  font-family: "Noto Serif TC", serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  width: 6em;
  line-height: 3em;
}

#time > :last-child > :last-child {
  padding: 10px 20px;
}

#time > :last-child > :last-child dl {
  margin: 0.5em 0;
  padding-left: 0.5em;
  border: 1px solid rgba(153, 153, 153, 0.3);
  line-height: 2.5;
}

@media screen and (min-width: 1025px) {
  #time > :last-child > :last-child dl dt {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1024px) {
  #time > :last-child > :last-child dl dt {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 767px) {
  #time > :last-child > :last-child dl dt {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-size: 1em;
  }
}

@media screen and (min-width: 1025px) {
  #time > :last-child > :last-child dl dd {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 1.2em;
    text-indent: 3em;
  }
}

@media screen and (max-width: 1024px) {
  #time > :last-child > :last-child dl dd {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 1em;
    text-indent: 2em;
  }
}

@media screen and (max-width: 767px) {
  #time > :last-child > :last-child dl dd {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 0.8em;
    text-indent: 1.6em;
  }
}

#time > :last-child > :last-child a {
  margin: 10px auto 0;
  width: 5em;
  line-height: 2.5em;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */