@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;500;700;900&display=swap");
#intro {
  margin-top: -100px;
}

#intro #front-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

#intro #front-img h1 {
  position: absolute;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  font-size: 5em;
  color: DeepPink;
  text-shadow: 0 0 1px pink, 1px 1px 2px HotPink, 2px 2px 1px rgba(255, 105, 180, 0.3), 0 0 40px LavenderBlush, 0 30px 20px LavenderBlush;
}

#intro #front-img #intro-overlay1 {
  position: absolute;
  text-align: center;
  padding: 1em 2em;
}

#intro #front-img #intro-overlay1 h2 {
  font-size: 2em;
  color: brown;
  letter-spacing: 5px;
  margin-left: 5px;
}

@media screen and (min-width: 1025px) {
  #intro #front-img h1 {
    top: 25vh;
    left: 40vw;
  }
  #intro #front-img #intro-overlay1 {
    width: 24em;
    top: 45vh;
    right: 18vw;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width: 1024px) {
  #intro #front-img h1 {
    top: 16vh;
    left: 50%;
    display: block;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #intro #front-img #intro-overlay1 {
    width: 100vw;
    top: 44vh;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.75);
            box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.75);
  }
}

#intro #intro-text {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(skyblue), color-stop(85%, snow), color-stop(95%, snow), to(lightyellow));
  background-image: linear-gradient(180deg, skyblue, snow 85%, snow 95%, lightyellow);
}

#intro #intro-text #intro-overlay2 {
  background-color: rgba(255, 240, 245, 0.3);
  border-radius: 5%;
}

@media screen and (min-width: 1025px) {
  #intro #intro-text #intro-overlay2 {
    width: 40%;
    margin: 5% auto 0;
    padding: 2.5em 2em 5em;
  }
}

@media screen and (max-width: 1024px) {
  #intro #intro-text #intro-overlay2 {
    width: 70%;
    margin: 20% auto 0;
    padding: 2.5em 2em 5em;
  }
}

#intro #intro-text #intro-overlay2 p {
  line-height: 2.5;
  text-indent: 2em;
}

#intro #intro-text #intro-overlay2 p span {
  color: DeepPink;
  font-weight: 700;
  background-color: rgba(255, 240, 245, 0.3);
}

#intro #intro-text #intro-overlay2 ul {
  line-height: 2.5;
  list-style-type: none;
  text-indent: 4em;
}

#intro #intro-text #intro-overlay2 ul u {
  font-weight: 700;
}

#intro #intro-text #intro-overlay2 ul span {
  color: DeepPink;
  font-weight: 700;
  background-color: rgba(255, 240, 245, 0.3);
}

#team {
  max-height: 80vh;
}

@media screen and (min-width: 1025px) {
  #team {
    margin: 50px 0 0 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 36% auto;
        grid-template-columns: 36% auto;
    grid-gap: 30px;
  }
  #team > div:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  #team #team-btn-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
  }
}

@media screen and (min-width: 768px) {
  #team #team-card-wrap > .team-card {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "photos showcases" "names showcases";
    -ms-grid-rows: 400px 150px;
        grid-template-rows: 400px 150px;
  }
  #team #team-card-wrap > .team-card > img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: photos;
  }
  #team #team-card-wrap > .team-card > h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: names;
  }
  #team #team-card-wrap > .team-card > .team-about {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: showcases;
  }
}

@media screen and (max-width: 1024px) {
  #team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team #team-btn-box {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#team #team-btn-box {
  padding: 10px;
  max-width: 100%;
  border: 10px solid rgba(255, 105, 180, 0.4);
  -webkit-box-shadow: -8px 8px 8px -3px rgba(153, 0, 0, 0.5);
          box-shadow: -8px 8px 8px -3px rgba(153, 0, 0, 0.5);
}

#team #team-btn-box .team-btn {
  height: 100px;
}

#team #team-btn-box .team-btn:nth-child(-n + 2) {
  background-color: #f8c9a0;
}

#team #team-btn-box .team-btn:nth-child(4),
#team #team-btn-box .team-btn:nth-child(5) {
  background-color: LavenderBlush;
}

#team #team-btn-box .team-btn:nth-child(-3n + 6) {
  background-color: HoneyDew;
}

#team #team-btn-box .team-btn:nth-child(n + 7) {
  background-color: AliceBlue;
}

#team #team-card-wrap .team-card {
  background-color: rgba(255, 240, 245, 0.6);
  -webkit-box-shadow: 0 -3px 5px #66666666;
          box-shadow: 0 -3px 5px #66666666;
}

#team #team-card-wrap .team-card > div:nth-child(2) {
  text-align: center;
}

#team #team-card-wrap .team-card > div:nth-child(2) h2 {
  display: inline-block;
  padding: 0 0.5em;
  border-bottom: 1px solid indigo;
  -webkit-box-shadow: 0 9px 5px -6px #66666666;
          box-shadow: 0 9px 5px -6px #66666666;
}

#team #team-card-wrap .team-card .team-about {
  padding: 0 5%;
  overflow: auto;
}

#team #team-card-wrap .team-card .team-about .team-sub-card {
  padding: 1em 0;
}

#team #team-card-wrap .team-card .team-about .team-sub-card h3 {
  text-indent: 2em;
  margin-bottom: -0.3em;
}

#team #team-card-wrap .team-card .team-about .team-sub-card ul {
  list-style-type: none;
}

#team #team-card-wrap .team-card:nth-child(n + 2) {
  display: none;
}

#care {
  margin-top: 200px;
}
/*# sourceMappingURL=style.css.map */