/*-------------------------*\
    「首頁」專屬元素樣式
\*-------------------------*/
@import "./var";

//* 診所簡介 ===============================================================
#opening {
    width: 100%;
    //避免任何縫隙
    @media screen and (min-width: $desktop) {
        margin-top: -$h-nav-dt;
    }
    @media screen and (max-width: $tablet) {
        margin-top: -$h-nav-tb;
    }

    //* Part I : 首頁形象
    #home {
        //Part I-0 : 圖片設定
        height: 100vh;
        width: 100%;
        @media screen and (min-width: $desktop) {
            background-image: url("../img/FrontImg_desktop.jpg");
        }
        @media screen and (max-width: $tablet) {
            background-image: url("../img/FrontImg_tablet.png");
        }
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        overflow: hidden;
        filter: contrast(0.65) brightness(1.2) saturate(1.3);
        //Part I-1 : 樣式設定
        #intro-disk {
            position: absolute;
            width: 22em;
            height: 4em;
            border-radius: 50%;
            box-shadow: 0 0 40px 10px $color-24 inset;
            @media screen and (min-width: $desktop) {
                top: 34vh;
                left: 40vw;
            }
            @media screen and (max-width: $tablet) {
                top: 25vh;
                left: 52%;
                transform: translateX(-50%);
            }
            @media screen and (max-width: $mobile) {
                width: 15em;
                height: 3em;
                top: 21vh;
                left: 52%;
                box-shadow: 0 0 20px 10px $color-24 inset;
            }
        }
        h1 {
            position: absolute;
            @include font-zh(5em, 900);
            color: #ff61b0;
            @media screen and (min-width: $desktop) {
                top: 26vh;
                left: 41vw;
                text-shadow: 1px -1px 0 $color-24, 2px -2px 0 #e1cdd5, 3px -3px 0 #d1bdc5, 4px -4px 0 #c1adb5,
                    5px -5px 0 #b19da5;
            }
            @media screen and (max-width: $tablet) {
                top: 18vh;
                left: 52%;
                transform: translateX(-50%);
                text-shadow: -1px -1px 0 $color-24, -2px -2px 0 #e1cdd5, -3px -3px 0 #d1bdc5, -4px -4px 0 #c1adb5,
                    -5px -5px 0 #b19da5;
            }
            @media screen and (max-width: $mobile) {
                top: 17vh;
                @include font-zh(3em, 900);
                word-break: keep-all; //不准換行
            }
        }
        h2 {
            $offset-ls: 5px; //因為letter spacing的微調
            // for 定位
            display: block;
            // 背景樣式
            position: absolute;
            padding: 1em 0;
            padding-left: $offset-ls;
            overflow: hidden; //隱藏被推出畫面寬的部份
            background-color: rgba(white, 0.6);
            box-shadow: 0 0 5px 7px rgba(white, 0.75);
            // 文字樣式
            text-align: center;
            font-size: 2em;
            color: hsl(0, 50%, 30%);
            letter-spacing: 5px;

            @media screen and (min-width: $desktop) {
                top: 46vh;
                right: 0;
                transform: translateX($offset-ls);
                padding-left: 3vw;
                padding-right: 15vw;
                text-shadow: 3px -3px 3px #fff;
            }
            @media screen and (max-width: $tablet) {
                width: calc(100%);
                top: 44vh;
                left: 50%;
                transform: translateX(calc(-50%));
                text-shadow: -3px -3px 3px #fff;
            }
            @media screen and (max-width: $mobile) {
                top: 36vh;
                text-shadow: -3px -3px 3px #fff;
                padding: 0.5em 0;
                font-size: 1.5em;
            }
        }
    }
    //* Part II : 診所簡介
    #intro {
        // 背景
        width: 100%;
        height: 100vh;
        $color1: #fffafaaa;
        $color2: hsla(332, 100%, 79%, 0.45);
        background-image: linear-gradient(180deg, $color1 10%, $color2 80%, $color2 85%, $color1);
        @media screen and (max-width: $mobile) {
            height: auto;
        }
        // 文字大卡
        & > div {
            margin: 0 auto;
            padding: 2.5em 2em 5em;
            background-color: $color-04;
            box-shadow: 5px 5px 20px $color-shade;
            border-radius: 5%;

            @media screen and (min-width: $desktop) {
                width: 40%;
                margin-top: 5%;
            }
            @media screen and (max-width: $tablet) {
                width: 70%;
                margin-top: 8%;
            }
            @media screen and (max-width: $mobile) {
                width: 90%;
                margin-top: 10%;
                padding: 1em 1em 5em;
            }
            p {
                line-height: 2.5;
                text-indent: 2em;

                span {
                    color: $color-16;
                    font-weight: 700;
                    background-color: rgba($color-24, 0.3);
                }
            }
            ul {
                line-height: 2.5;
                list-style-type: none;
                text-indent: 4em;
                @media screen and (max-width: $mobile) {
                    text-indent: 2em;
                }
                u {
                    font-weight: 700;
                }
                span {
                    color: $color-16;
                    font-weight: 700;
                    background-color: rgba($color-24, 0.3);
                }
            }
        }
    }
}
// 診所簡介 END ============================================================
//* 醫療團隊 ===============================================================
#team {
    //* Part 0 : 整體格局
    // team = {header, buttons, cards}
    $title-h: 80px;
    $card-pd: 1rem; // also gap
    $card-h: 540px;
    $section-h: calc(#{$title-h} + #{$card-h});
    width: 100%;
    @media screen and (min-width: $desktop) {
        height: auto;
        margin: 150px 0 100px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(1, 4fr 7fr);
        grid-template-rows: auto auto;
        row-gap: 2 * $card-pd;
        column-gap: 3 * $card-pd;
        header {
            grid-column: 1 / span 2;
        }
    }
    @media screen and (max-width: $tablet) {
        margin: 100px 5px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        #team-btn-box {
            order: 4; // flex 的順序
        }
    }
    //* Part II : 選取按鈕區
    #team-btn-box {
        // box = { btn > text }_9
        box-shadow: -8px 8px 8px -3px $color-shade;

        @mixin box-setup($box-leng, $box-pd, $gap, $f-sz) {
            //pd = padding, bd = border, f-sz = font-size
            $grid-h: 2 * $f-sz;
            $leng-real: $card-h; //TODO 待轉換RWD
            $leng: calc($leng-real - 2 * $box-pd - 2 * $box-pd - 2 * $gap);
            width: $leng;
            height: $leng;
            border: $box-pd solid $color-05;
            padding: $box-pd;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: $gap;
            h2 {
                @include font-zh($f-sz, 500);
            }
        }
        @media screen and (min-width: $desktop) {
            @include box-setup(540px, 10px, 5px, 1.5em);
        }
        @media screen and (max-width: $tablet) {
            @include box-setup(400px, 10px, 10px, 1.2em);
        }
        @media screen and (max-width: $mobile) {
            @include box-setup(360px, 5px, 5px, 0.8em);
        }

        //按鈕 Part 1 : 格式的設定
        .team-btn {
            display: flex;
            align-items: center;
            justify-content: center; //for RWD : mobile
            text-align: center; //for RWD : desktop
            cursor: default;
        }
        //按鈕 Part 2 : 顏色的設定
        .team-btn {
            background-color: $color-shade;
            // 啟動者的對應強調
            &-active {
                // background-color: $color-14;
                &:nth-child(-n + 2) {
                    background-color: #f8c9a0;
                }
                &:nth-child(4),
                &:nth-child(5) {
                    background-color: $color-24;
                }
                &:nth-child(-3n + 6) {
                    background-color: HoneyDew;
                }
                &:nth-child(n + 7) {
                    background-color: AliceBlue;
                }
            }
            // 連結的基本變化
            &:not(.team-btn-active):hover {
                filter: brightness(1.2);
            }
            &:active {
                filter: invert(0.2);
            }
        }
    }
    //* Part III : 詳細介紹
    #team-card-wrap {
        background-color: rgba($color-05, 0.5);
        box-shadow: -8px 8px 8px -3px $color-shade;
        height: $card-h;

        .team-card {
            // card = {img, div-h2, div-about}
            //* 共通設定
            // 內距 & 高度
            @media screen and (min-width: $desktop) {
                // height: 450px;
                height: 100%;
                padding: 3em;
            }
            @media screen and (max-width: $tablet) {
                // height: 60vh;
                height: 350px;
                padding: 3em;
            }
            @media screen and (max-width: $mobile) {
                height: auto;
                width: 100%;
                padding: 1em 1.5em;
            }
            // 共通設定 END
            //* 格局設定
            @media screen and (min-width: $desktop) {
                display: grid;
                grid-template-areas: "photos showcases" "names showcases";
                grid-template-columns: repeat(1, 1fr 3fr);
                grid-template-rows: repeat(1, 3fr 1fr);
                grid-gap: 1em;
                //area 命名
                & > img {
                    grid-area: photos;
                }
                & > h2 {
                    grid-area: names;
                }
                & > .team-about {
                    grid-area: showcases;
                }
                //area 命名 END
            }
            @media screen and (max-width: $tablet) {
                display: grid;
                grid-template-areas: "photos showcases" "names showcases";
                grid-template-columns: repeat(1, 1fr 3fr);
                grid-template-rows: repeat(1, 3fr 2fr);
                grid-gap: 1em;
                //area 命名
                & > img {
                    grid-area: photos;
                }
                & > h2 {
                    grid-area: names;
                }
                & > .team-about {
                    grid-area: showcases;
                }
                //area 命名 END
            }
            @media screen and (max-width: $mobile) {
                display: flex;
                flex-direction: column;
                align-items: center;
                & > img {
                    height: 20vh;
                }
                h2 {
                    margin: 0.5em 0 1em;
                }
            }
            // 照片
            & > img {
                width: auto;
                display: block;
                object-fit: contain;
            }
            // 成員姓名
            & > div:nth-child(2) {
                text-align: center;
                h2 {
                    padding: 0 0.5em;
                    display: inline-block;
                    border-bottom: 1px solid $color-line;
                    box-shadow: 0 9px 5px -6px $color-06;
                }
            }
            // 格局設定 END
            .team-about {
                // card = {img, div-h2, div-about}
                // about = {sub-card}_n
                padding: 0 5%;
                overflow: auto; //自動生成內滾動範圍
                background-color: $color-04;
                box-shadow: 10px 0 10px -10px inset $color-shade;
                @media screen and (max-width: $mobile) {
                    height: 50vh;
                    min-width: 90%;
                }
                .team-sub-card {
                    padding: 1em 0;
                    h3 {
                        text-indent: 2em;
                        margin-bottom: -0.3em;
                    }
                    ul {
                        list-style-type: none;
                    }
                    p,
                    li {
                        line-height: 2.5;
                    }
                }
            }
        }
    }
}
// 醫療團隊 END ============================================================
// *治療項目 ===============================================================
#care {
    margin: 200px 5px 0;
    // margin-top: 200px;
    //* 共同樣式
    .care-card-boards {
        // background-color: $color-04;
        // box-shadow: 5px 5px 7px 2px $color-shade;
        @media screen and (min-width: $desktop) {
            max-width: 75vw;
        }
        .care-card {
            // 只有板1&3使用img，板2使用bg-img
            & > img {
                display: block;
                margin: 0 auto;
                width: 128px;
                height: 128px;
            }
        }
    }
    //* board 1
    #care-board-1 {
        margin: 50px auto;
        display: grid;
        @media screen and (min-width: $desktop) {
            max-width: 1000px;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 60px;
            .care-card {
                $leng: 200px;
                width: $leng;
                height: $leng;
            }
        }
        @media screen and (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            .care-card {
                $leng: 180px;
                width: $leng;
                height: $leng;
            }
        }
        @media screen and (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
            // .care-card {
            //     $leng: 60px;
            //     width: $leng;
            //     height: $leng;
            // }
        }
        .care-card {
            margin: 0 auto;
            border-radius: 50%;
            background-color: $color-04;
            box-shadow: 5px 5px 7px 2px $color-shade;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
    }
    //* board 2
    #care-board-2 {
        // board2 = {card | icon, h2}_9
        $card-m-y: 60px;
        $img-m-y: 15px;
        $img-leng: 100px; // 預設的圖片尺寸
        $img-LENG-pc: 140px; // center mode的放大版尺寸 for PC
        $img-LENG-tb: 125px; // center mode的放大版尺寸 for 行動裝置
        $centerPd-pc: 100px; // center mode的padding(gap) for PC
        $centerPd-tb: 40px; // center mode的padding(gap) for 行動裝置
        // centerPd 須與js的設定連動
        $h2-lh: 3rem;
        margin: $card-m-y auto;
        box-shadow: 15px 0 15px -5px $color-shade inset, -15px 0 15px -5px $color-shade inset;
        @mixin setupBoard($img-LENG) {
            height: calc(2 * #{$card-m-y} + 2 * #{$img-m-y} + #{$img-LENG} + #{$h2-lh});
        }
        @media screen and (min-width: $desktop) {
            @include setupBoard($img-LENG-pc);
        }
        @media screen and (max-width: $mobile) {
            @include setupBoard($img-LENG-tb);
        }
        .care-card {
            margin: $card-m-y 20px;
            width: $img-leng + 40px;
            @mixin setupCard($img-LENG) {
                height: calc(2 * #{$img-m-y} + #{$img-LENG} + #{$h2-lh});
                max-width: $img-LENG + 40px;
            }
            @media screen and (min-width: $desktop) {
                @include setupCard($img-LENG-pc);
            }
            @media screen and (max-width: $mobile) {
                @include setupCard($img-LENG-tb);
            }
            text-align: center;
            overflow: break-word;
            & > div {
                // 圖片
                background-image: url(../img/cloudy0.png);
                margin: $img-m-y auto;
                width: $img-leng;
                height: $img-leng;
                background-size: $img-leng $img-leng;
                border-radius: 50%;
                text-align: center;
            }
            &:hover {
                border-radius: 35px;
                box-shadow: 0 2px 8px $color-06;
                & > div {
                    background-image: url(../img/cloudy1.png);
                }
            }
            & > h2 {
                text-align: center;
                line-height: $h2-lh;
            }
        }
        //Slick 修正區
        // 在正中央的樣式 (center mode)
        .slick-list {
            box-sizing: border-box;
        }
        .slick-current {
            border-radius: 35px;
            box-shadow: 0 2px 8px $color-06;
            & > div {
                background-image: url(../img/cloudy1.png);
                @mixin setupSize($l) {
                    height: $l;
                    width: $l;
                    background-size: $l $l;
                }
                @media screen and (min-width: $desktop) {
                    @include setupSize($img-LENG-pc);
                }
                @media screen and (max-width: $mobile) {
                    @include setupSize($img-LENG-tb);
                }
            }
            h2 {
                font-size: 1.5rem;
            }
        }
        //Slick 修正區 END
    }
    //* board 3
    #care-board-3 {
        overflow: hidden;
        margin: 50px auto;
        padding: 50px;
        @media screen and (min-width: $desktop) {
            width: 60%;
        }
        @media screen and (max-width: $tablet) {
            width: 80%;
        }
        // @media screen and (max-width: $mobile) {
        //     width: 80%;
        // }
        h3 {
            display: block;
            margin-top: 20px;
        }
        //Slick 修正區
        .slick-arrow::before {
            position: absolute;
            color: #990000;
            top: -2px;
            z-index: 3;
            @media screen and (max-width: $tablet) {
                font-size: xx-large;
            }
        }
        @mixin slick-offset($offset) {
            .slick-prev::before {
                left: $offset;
            }
            .slick-next::before {
                right: $offset;
            }
        }
        @media screen and (min-width: $desktop) {
            @include slick-offset(40px);
        }
        @media screen and (max-width: $tablet) {
            @include slick-offset(65px);
        }
        //Slick 修正區 END
    }
}
// 治療項目 END =================================================================
// *門診時間 ====================================================================
#time {
    @import "./timeTable"; // 外包的表格格式＆文字大小設定 with RWD
    // Part 0 : 整體
    // Part I : 標題
    // Part II : 時間表
    #time-table {
        margin: 80px auto 30px;
        text-align: center;
        // 格式設定
        //timeTable($leng, $gap)中 $leng 必須輸入偶數
        @media screen and (min-width: $desktop) {
            @include timeTable(100px, 10px);
        }
        @media screen and (max-width: $tablet) {
            @include timeTable(80px, 8px);
        }
        @media screen and (max-width: $mobile) {
            @include timeTable(50px, 6px);
        }
        // 格式設定 END
        // 格式設定：特殊休診時段
        .tt-shorter {
            grid-template-rows: repeat(1, 3fr 1fr);
            .tt-closed {
                box-shadow: 3px 6px 6px -3px $color-shade inset;
            }
        }
        // 文字設定區
        @include timeTableText();
        // 顏色分配區
        .tt-children {
            background-color: $color-children;
        }
        .tt-adult {
            background-color: $color-adult;
        }
        .tt-nature {
            background-color: $color-nature;
        }
        .tt-closed {
            background-color: $color-closed;
            color: crimson;
        }
        .tt-deactivate {
            // 只顯示一種顏色時，其他格子的低調色
            background-color: hsl(0, 0%, 80%) !important;
        }
    }
    // Part III : 時間表圖例
    #table-eg {
        display: flex;
        padding: 10px 15%;
        justify-content: space-evenly;
        .table-eg-btns {
            border-radius: 50%;
            box-shadow: 8px 8px 8px $color-shade;
            $leng: 80px;
            height: $leng;
            width: $leng;
            cursor: default;
            //RWD：電腦、平板
            h4 {
                @include font-zh(1em, 500);
                line-height: $leng;
                text-align: center;
                text-shadow: 8px 8px 8px $color-shade;
            }
            //RWD：電腦、平板 END
            //RWD：手機
            @media screen and (max-width: $mobile) {
                $leng: 65px;
                height: $leng;
                width: $leng;
                h4 {
                    @include font-zh(1em, 500);
                    line-height: $leng;
                }
            }

            &:nth-child(1) {
                background-color: $color-children;
            }
            &:nth-child(2) {
                background-color: $color-adult;
            }
            &:nth-child(3) {
                background-color: $color-nature;
            }
            &:nth-child(4) {
                background-color: $color-closed;
            }
        }
    }
    // Part IV & V 兩者的共同設定
    & > :last-child {
        margin-top: 100px;
        display: flex;
        @media screen and (min-width: $desktop) {
            justify-content: space-evenly;
            align-items: flex-start;
            & > div {
                //須知叮嚀＆異動公告
                width: 30%;
                border: 1px solid $color-26;
                background-color: rgba($color-24, 0.5);
                margin: 30px 0 0;
            }
        }
        @media screen and (max-width: $mobile) {
            flex-direction: column;
        }
    }
    // Part IV : 掛號須知
    #register-note {
        // this = {h3, p, btns, pages}
        @media screen and (min-width: $desktop) {
            width: 50%;
        }
        .note-btn-box {
            display: flex;

            .note-btns {
                display: block;
                margin-right: 10px;
                padding: 1em 2em 0.5em;
                background-color: rgba($color-26, 0.1);
                border-radius: 10% 10% 0 0/ 20% 20% 0 0;
                transition: filter 0.5s;
                &:not(.note-btns-active):hover {
                    filter: saturate(2);
                }
                // 啟動者的對應強調
                &-active {
                    background-color: rgba($color-26, 0.3);
                }
                // 文字
                @media screen and (min-width: $desktop) {
                    @include font-zh(1em, 500);
                }
                @media screen and (max-width: $tablet) {
                    @include font-zh(0.8em, 500);
                }
                @media screen and (max-width: $mobile) {
                    @include font-zh(0.5em, 500);
                }
            }
        }
        // pages = {(h4, ul)*3, a}
        & > :last-child {
            padding: 2em 4em;
            background-color: rgba($color-24, 0.8);
            .note-pages {
                line-height: 2;
                // 文字
                @media screen and (min-width: $desktop) {
                    @include notePageText(1.5em, 1.2em);
                }
                @media screen and (max-width: $tablet) {
                    @include notePageText(1.2em, 1em);
                }
                @media screen and (max-width: $mobile) {
                    @include notePageText(1em, 0.8em);
                }
            }
            a {
                margin: 0 auto;
                @include font-zh(1em, 300);
                text-align: center;
                width: 6em;
                line-height: 3em;
                // filter: hue-rotate(64deg);
            }
        }
    }
    // Part V : 門診異動摘要
    & > :last-child > :last-child {
        padding: 10px 20px;
        dl {
            margin: 0.5em 0;
            padding-left: 0.5em;
            border: 1px solid $color-shade;
            line-height: 2.5;
            dt {
                @media screen and (min-width: $desktop) {
                    @include font-zh(1.5em, 500);
                }
                @media screen and (max-width: $tablet) {
                    @include font-zh(1.2em, 500);
                }
                @media screen and (max-width: $mobile) {
                    @include font-zh(1em, 500);
                }
            }
            dd {
                @media screen and (min-width: $desktop) {
                    @include font-zh(1.2em, 300);
                    text-indent: 3em;
                }
                @media screen and (max-width: $tablet) {
                    @include font-zh(1em, 300);
                    text-indent: 2em;
                }
                @media screen and (max-width: $mobile) {
                    @include font-zh(0.8em, 300);
                    text-indent: 1.6em;
                }
            }
        }
        a {
            margin: 10px auto 0;
            width: 5em;
            line-height: 2.5em;
            text-align: center;
        }
    }
}
// 門診時間 END ==========================================================
// *頁尾 =================================================================
// 頁尾 END =============================================================
