@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;500;700;900&display=swap");
$color-16 : hsl(328, 70%, 54%) ;
$color-14 : hsl(350, 80%, 88%) ;
$color-26 : hsl(330, 80%, 71%) ;
$color-24 : LavenderBlush ;
$color-text : Brown ;
$color-line : indigo ;
$color-shade : rgba(#999, 0.3) ;
$desktop: 1025px; //lower bound
$tablet: 1024px; //upper bound
$mobile: 767px; //upper bound
//============ nav高度 in RWD
// 用於 nav(common) & 簡介頁面(style)
/*-------------------------*\
RWD的變數改變不採取更改變數值的方案，因為不可行
//採用在個樣式設定取用不同不同的變數
//也就說是說還是要寫兩次。
\*-------------------------*/
$h-nav-dt: 100px ;
$h-nav-tb: 72px ;
$h-nav-mb: 40px ;
//============ 門診時間表用
$color-children : hsl(60, 80%, 90%) ;
$color-adult : hsl(197, 80%, 90%) ;
$color-nature : hsl(350, 45%, 90%) ;
$color-closed : hsl(0, 0%, 90%) ;
//============
@mixin font-zh($sz, $wt) {
    //wt is in 200, 300, 500, 700, 900
    font-family: "Noto Serif TC", serif;
    font-weight: $wt;
    font-size: $sz;
}
@mixin font-en($sz, $wt) {
    //TODO family not decided
    font-family: serif;
    font-weight: $wt;
    font-size: $sz;
}