@import "./var";
//通用樣式設定 ==============================================
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
}
a {
    //reset the default
    text-decoration: none;
    &:link,
    &:visited {
        color: initial;
    }
}
.logo img {
    transition: filter 0.5s;
    &:hover {
        filter: drop-shadow(0 5px 15px rgba($color-sec-light, 0.8));
    }
}
.title-1 {
    @include font-zh(900, 2em);
    text-align: center;
}
.title-2 {
    @include font-zh(700, 1.5em);
    text-align: center;
}
.p-text {
    @include font-zh(300, 1em);
}
.hr-1 {
    margin: 0.5em auto 1em;
    border-color: $color-line;
    max-width: 80%;
}
.hr-2 {
    //複合式；靠左
    margin-left: 1em;
    margin-bottom: 0.5em;
    & > div {
        width: 15px;
        height: 5px;
        background-color: $color-sec-dark;
    }
    hr {
        width: 80%;
        margin: 0;
        border-color: $color-sec-dark;
    }
}
.hr-3 {
    margin: 0.5em auto 1em;
    max-width: 25%;
    border-color: $color-sec-dark;
}
//通用樣式設定 END ==========================================
//導覽列 ====================================================
nav {
    width: 100%;
    height: $h-nav;
    display: flex;
    justify-content: space-around;
    position: sticky; //必須加，才不會被沒有設定pos的img擋住
    top: 0;
    background-color: $color-pri-light;
    border-radius: 0 0 80% 80% / 0 0 55% 55%;
    box-shadow: 0 0 3px $color-shade;
    z-index: 2;
    // 高度微調：from 內側
    // TODO 規律一點的統一下降
    & > a:nth-child(4),
    & > a:nth-child(6) {
        margin-top: 32px;
    }
    & > a:nth-child(4n + 3) {
        margin-top: 30px;
    }
    & > a:nth-child(6n + 2) {
        margin-top: 25px;
    }
    // 高度微調 END

    .nav-a {
        line-height: 1.2;
        @include font-zh(700, 1.5em);

        &:link,
        &:visited {
            color: $color-text;
        }
        &:hover {
            text-shadow: 0 0 30px $color-sec-light;
        }
        &:active {
            // filter: invert(20%);
            filter: brightness(125%);
        }
    }
}
//導覽列 END ================================================
footer {
    // Part 0 : 整體設定
    background-color: $color-pri-light;
    box-shadow: 0 0 3px $color-shade;
    display: grid;
    grid-template-columns: 65% auto;
    grid-gap: 30px;
    padding: 50px 20px 20px;

    // Part 1 : 嵌入Google地圖
    div:first-child {
        iframe {
            //TODO 檢視rwd調整需求
            width: 100%;
            height: 300px;
        }
    }
    // Part 2 : 門診時間簡表
    #time-table-footer {
        background-color: rgba($color-sec-light, 0.15);
        text-align: center;
        hr {
            @extend .hr-3;
            max-width: 60%;
        }
        table {
            margin: auto;
            width: 80%;
            height: 60%;
            border-collapse: collapse;
            border: 1px solid #000;
            background-color: rgba($color-sec-dark, 0.25);
            text-align: center;

            tr {
                //first row
                &:first-of-type {
                    background-color: rgba($color-sec-dark, 0.6);
                    border-bottom: 1px solid #000;
                    line-height: 2em;
                    @include font-zh(500, 1em);
                }
                //other rows
                &:nth-child(n + 1) {
                    padding: 2px 0;
                }
                //first column
                & > :first-child {
                    background-color: rgba($color-sec-dark, 0.6);
                    width: 3em;
                    border-right: 1px solid #000;
                    @include font-zh(500, 1em);
                }
                //other columns
                & > :nth-child(n + 1) {
                    padding: 0 3px;
                }
                //bullets
                span {
                    font-size: 2em;
                }
            }
        }
        a {
            display: block;
            margin: 1em auto;
            background-color: rgba($color-sec-dark, 0.3);
            box-shadow: 0 0 10px $color-shade;
            width: 6em;
            height: 2.5em;
            line-height: 2.5em;
            border-radius: 50% / 20%;
            transition: background-color .5s;
            &:hover {
                background-color: rgba($color-sec-dark, 0.8);
            }
            &:active {
                filter: invert(5%);
            }
        }
    }
    // Part 3 : 聯絡 & 交通方式
    dl {
        background-color: rgba($color-sec-light, 0.15);
        line-height: 3em;
        img {
            vertical-align: middle;
            margin-right: 0.5em;
        }
        dt > a {
            color: initial;
            transition: color 0.5s;
            &:hover {
                color: rgba($color-text, 0.8);
            }
        }
        dd {
            text-indent: -2.5em;
            margin-left: 4em;
        }
    }
    // Part 4 : 友善連結 & 版權聲明
    div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        a {
            margin-bottom: 1em;
            width: 45%;
            img {
                width: 100%;
            }
        }
        p {
            // margin-top: 1em;
        }
    }
}