/*-------------------------*\
        頁首、頁尾樣式
\*-------------------------*/
@import "./var";
//通用樣式設定 ==============================================
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: snow;
}
a {
    //reset the default
    text-decoration: none;
    cursor: pointer;
    &:link,
    &:visited {
        color: initial;
    }
}
.btn {
    display: block;
    background-color: rgba($color-26, 0.3);
    box-shadow: 0 0 10px $color-shade;
    border-radius: 50% / 20%;
    transition: background-color 0.5s;
    &:hover {
        background-color: rgba($color-26, 0.8);
    }
    &:active {
        filter: invert(5%);
    }
}
.logo img {
    transition: filter 0.5s;
    &:hover {
        filter: drop-shadow(0 5px 30px rgba($color-26, 0.5));
    }
}
.title-1 {
    $offset: 15px;
    @include font-zh(2em, 900);
    text-align: center;
    letter-spacing: $offset;
    text-indent: $offset;
    @media screen and (max-width: $mobile) {
        @include font-zh(1.5em, 900);
    }
}
.title-2 {
    text-align: center;
    @include font-zh(1.5em, 700);
    @media screen and (max-width: $mobile) {
        @include font-zh(1em, 900);
    }
}
.p-text {
    @include font-zh(1em, 300);
}
.hr-1 {
    margin: 0.5em auto 1em;
    border-color: $color-line;
    @media screen and (min-width: $desktop) {
        max-width: 70%;
    }
    @media screen and (max-width: $tablet) {
        max-width: 80%;
    }
    // @media screen and (max-width: $mobile) {
    //     max-width: 80%;
    // }
}
.hr-2 {
    //複合式；靠左
    margin-left: 1em;
    margin-bottom: 0.5em;
    & > div {
        width: 15px;
        height: 5px;
        background-color: $color-26;
    }
    hr {
        width: 80%;
        margin: 0;
        border-color: $color-26;
    }
}
.hr-3 {
    margin: 0.5em auto 1em;
    max-width: 25%;
    border-color: $color-26;
}
//通用樣式設定 END ===========================================
//導覽列 ====================================================
nav {
    //* Part 0 : 通用樣式設定
    @media screen and (min-width: $desktop) {
        height: $h-nav-dt;
    }
    @media screen and (max-width: $tablet) {
        height: $h-nav-tb;
    }
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2; //必須加，才不會被沒有設定pos的img擋住
    background-color: $color-04;
    border-radius: 0 0 80% 80% / 0 0 55% 55%;
    box-shadow: 0 0 3px $color-shade;
    //TODO -(JS)-> 向下滾動時隱藏op0，向上或hover恢復op1

    //* Part 1 : LOGO
    & > a {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 20%);
    }
    //* Part 2 : HBGer
    div:nth-child(2) {
        // background-color: lightgoldenrodyellow;
        background-image: url(../img/iconHBG.png);
        position: absolute;
        top: 7px;
        right: 25px;
        height: 32px;
        width: 32px;
        border-radius: 20%;
        box-shadow: 2px 2px 3px $color-shade;
        @media screen and (min-width: $desktop) {
            display: none;
        }
        @media screen and (max-width: $tablet) {
            display: block;
        }
    }
    //* Part 3 : LINKs
    div:nth-child(3) {
        display: flex;
        justify-content: space-around;
        div:nth-of-type(2) {
            width: 128px; //LOGO的位置
        }
        a {
            display: block;
            line-height: 2;
            padding: 5px 1em;
            @include font-zh(1.5em, 700);
            border-radius: 30%;
            transition: 0.5s;
            // 配合弧度的高度微調：from 內 to 外
            &:nth-child(4),
            &:nth-child(6) {
                transform: translateY(12px);
            }
            &:nth-child(4n + 3) {
                transform: translateY(8px);
            }
            // 配合弧度的高度微調 END
            &:link,
            &:visited {
                color: #000;
            }
            &:hover {
                box-shadow: 0 0 10px 10px rgba($color-26, 0.3) inset;
            }
            &:active {
                // filter: invert(20%);
                filter: brightness(125%);
            }
        }
        @media screen and (max-width: $tablet) {
            position: absolute;
            right: -100%; //TODO -(js)-> 0
            display: none; //TODO -(js)-> block
            flex-flow: column;

            //TODO w, fz, lh
        }
    }
}
//導覽列 END ================================================
footer {
    // Part 0 : 整體設定
    background-color: $color-14;
    box-shadow: 0 0 3px $color-shade;
    display: grid;
    padding: 50px 20px 20px;
    // Part 0 : 整體格局 RWD
    @media screen and (min-width: $desktop) {
        grid-template-columns: 65% auto;
        grid-gap: 30px;
    }
    @media screen and (max-width: $tablet) {
        grid-template-columns: 60% auto;
        grid-gap: 15px;
    }
    @media screen and (max-width: $mobile) {
        grid-template-columns: auto;
        grid-gap: 15px;
    }

    // Part 1 : 嵌入Google地圖
    div:first-child {
        iframe {
            //TODO 檢視rwd調整需求
            width: 100%;
            height: 300px;
        }
    }
    // Part 2 : 門診時間簡表
    #time-footer {
        background-color: rgba($color-24, 0.15);
        text-align: center;
        hr {
            max-width: 60%;
        }
        table {
            margin: auto;
            width: 80%;
            height: 60%;
            border-collapse: collapse;
            border: 1px solid #000;
            background-color: rgba($color-26, 0.25);
            text-align: center;

            tr {
                //first row
                &:first-of-type {
                    background-color: rgba($color-26, 0.6);
                    border-bottom: 1px solid #000;
                    line-height: 2em;
                    @include font-zh(1em, 500);
                }
                //other rows
                &:nth-child(n + 1) {
                    padding: 2px 0;
                }
                //first column
                & > :first-child {
                    background-color: rgba($color-26, 0.6);
                    width: 3em;
                    border-right: 1px solid #000;
                    @include font-zh(1em, 500);
                }
                //other columns
                & > :nth-child(n + 1) {
                    padding: 0 3px;
                }
                //bullets
                span {
                    font-size: 2em;
                }
            }
        }
        a {
            margin: 1em auto;
            width: 6em;
            height: 2.5em;
            line-height: 2.5em;
        }
    }
    // Part 3 : 聯絡 & 交通方式
    dl {
        background-color: rgba($color-24, 0.15);
        line-height: 3em;
        img {
            vertical-align: middle;
            margin-right: 0.5em;
        }
        dt {
            @include font-zh(1em, 500);
            a {
                color: initial;
                transition: color 0.5s;
                &:hover {
                    color: rgba($color-text, 0.8);
                }
            }
        }
        dd {
            @include font-zh(0.8em, 300);
            background-color: rgba($color-24, 0.3);
            text-indent: 2.5em;
        }
    }
    // Part 4 : 友善連結 & 版權聲明
    div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        a {
            margin-bottom: 1em;
            width: 45%;
            img {
                width: 100%;
            }
        }
    }
}
