@import "./var";
//通用樣式設定 ==============================================
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
}
a {
    text-decoration: none;
}
.logo img {
    transition: filter 0.5s;
    &:hover {
        filter: drop-shadow(0 5px 15px rgba($color-sec-light, 0.8));
    }
}
.title-big {
    @include font-zh(900, 2em);
}
.title-medium {
    @include font-zh(700, 1.5em);
}
.p-text {
    @include font-zh(300, 1em);
}
.hr-title {
    margin: 0 auto;
    //TODO 顏色等待設定
}
//通用樣式設定 END ==========================================
//導覽列 ====================================================
nav {
    width: 100%;
    height: $h-nav;
    display: flex;
    justify-content: space-around;
    position: sticky;//必須加，才不會被沒有設定pos的img擋住
    top: 0;
    background-color: $color-pri-light;
    border-radius: 0 0 50% 50% / 0 0 50% 50%;
    z-index: 2;

    & > a:nth-child(1),
    & > a:nth-child(7) {
        margin-top: 15px;
    }
    & > a:nth-child(2n) {
        margin-top: 25px;
    }
    & > a:nth-child(3),
    & > a:nth-child(5) {
        margin-top: 30px;
    }

    .nav-a {
        line-height: 1.2;
        @include font-zh(700, 1.5em);

        &:link,
        &:visited {
            color: $color-text;
        }
        &:hover {
            text-shadow: 0 0 30px $color-sec-light;
        }
        &:active {
            // filter: invert(20%);
            filter: brightness(125%);
        }
    }
}
//導覽列 END ================================================
