@import url("https://fonts.googleapis.com/css3?family=Noto+Sans+TC:wght@500;700;800&display=swap");
$font-zh : 'Noto Sans TC', sans-serif ;
$color-main : pink ;
$color-sec : lightpink ;
$desktop : 1025px ;//lower bound
$tablet : 1024px ; //upper bound
$mobile : 767px ;  //upper bound

