@import url("https://fonts.googleapis.com/css3?family=Noto+Sans+TC:wght@500;700;800&display=swap");
$main-color : pink ;
$second-color : lightpink ;
$font-zh : 'Noto Sans TC', sans-serif ;
//TODO 挑適合的英文字體
$desktop : 1025px ;//lower bound
$tablet : 1024px ; //upper bound
$mobile : 767px ;  //upper bound
//通用樣式設定 ==============================================
* {
    margin: 0;
    padding: 0;
}
a {text-decoration: none;}


//通用樣式設定 END ==========================================
//導覽列 ====================================================
