/*-------------------------*\
    「歷史公告」頁面樣式
\*-------------------------*/
@import "../scss/var";
#history {
    @media screen and (min-width: $desktop) {
        margin-top: $h-nav-dt;
    }
    @media screen and (max-width: $tablet) {
        margin-top: $h-nav-tb;
    }
    #news-box {
        display: flex;
        flex-flow: column;
        & > * {
            margin: 0 auto;
            @media screen and (min-width: $desktop) {
                width: 70%;
            }
            @media screen and (max-width: $tablet) {
                width: 80%;
            }
        }
        & > div {
            padding: 1em 3em;
            border-radius: 1em;
            box-shadow: 0 2px 4px $color-shade;

            &:nth-of-type(odd) {
                background-color: #ccc;
                // color: #f2f2f2;
            }
            &:nth-of-type(even) {
                background-color: #f2f2f2;
            }
            h2 {
                float: left;
                @include font-zh(1.2em, 700);
            }
            h3 {
                float: right;
                @include font-zh(1em, 500);
            }
        }
        & > p {
            display: none;
            z-index: -1;
            margin-top: -1.5em;
            padding: 3.5em 3em 2em;
            //上方預留要被標題擋住的空間
            background-color: hsl(330, 90%, 99%);
            box-shadow: -3px 0 10px $color-shade;
            border-radius: 0 0 1em 1em;
            @include font-zh(1em, 300);
            line-height: 2;
        }
    }
}
